.support
  padding 90px 10px
  &_title
    font-weight 900
    font-size 36px
    line-height 66px
    letter-spacing 4px
    text-align center
    text-transform uppercase
    color #222323
    text-shadow 0 1px 3px #cdcdce
    opacity 0.76
  &_description
    margin-bottom 40px
    font-weight 200
    font-size 20px
    line-height 50px
    text-align center
    color #000000
    opacity 0.8
  &_form
    display flex
    flex-direction column
    justify-content center
    max-width 400px
    margin 0 auto
    &__input
      width 100%
      margin-bottom 30px
      padding 15px
      font-size 16px
      box-sizing border-box
      border 1px solid
      border-radius 15px
      outline none
      &--textarea
        height 90px
    &__btn-submit
      width 160px
      margin: 10px auto
      color rgba(25, 145, 161, 1)
      &:hover
        color #fff
        background rgba(25, 145, 161, 1)

