.choose
  background c_actoveL
  &_content
    cf()
    wh-page()
    text-align center
  &_infos
    display  grid
    grid-template-columns 1fr 1fr 1fr 1fr
    grid-gap 2rem
    padding 1rem
    &_item
      padding-top 3rem
      &__img
        display block
        margin 0 auto 1.3rem
      &__link
        font-size 1.2rem
        font-weight fw-heavy
        letter-spacing 0
        color #18213d
      &__text
        margin-top .7rem

@media screen and (max-width: w_md)
  .choose_infos
    grid-template-columns 1fr 1fr
@media screen and (max-width: w_xl)
  .choose_infos
    grid-template-columns 1fr