//--------------------fonts------------------------//

font-family = 'Open Sans'
font_2= 'Montserrat'
fw-light = 200
fw-regular = 400
fw-heavy = 700 //font-weight
fh = 1.5//line-height

//--------------------responsive------------------//

w_lg = 1200px
w_md = 920px
w_sm = 790px
w_xl = 599px
w_xs = 465px

w_page = 1200px

//--------------------colors----------------------//

c_active = #00a9da //blue
c_acthov = #7d5ded //purple
c_activeD =#00283d //darck blue
c_actoveL =#e9f4f7 //light blue
color-1 = #eee // grey
c_white = #fff
c_black = #000


//--------------------animation-----------------//

time_trans = 0.5s

//--------------------float classes-----------------//

.float_left
  float left
.float_right
  float right

//--------------------common styles-----------------//
html, body
  font-family font-family
  font-size 15px
  scroll-behavior smooth
  min-width 320px
  height 100vh
  width 100vw
  margin 0
  padding 0
  left 0
  top 0

*
  color: #47506d
  line-height font-height
  box-sizing border-box
  -webkit-box-sizing border-box
  -moz-box-sizing border-box

.clearfix:before,
.clearfix:after
  content ' '
  display table
.clearfix:after
  clear both

//--------------------buttons-----------------//
.btn
  display inline-block
  margin 1em
  padding 1.26em 1.66em
  box-sizing border-box
  text-align center
  color c_white
  trans()
  text-transform uppercase
  text-decoration none
  border-radius 2.66em
  border 0.133em solid
  cursor pointer

.btn-darck
  background c_activeD
  border-color c_activeD
  &:hover
    background c_white
    color c_activeD
    border-color c_white
.btn-light
  background transparent
  border-color c_white
  &:hover
    background c_white
    color c_active
.btn-active
  background c_active
  border-color c_active
  &:hover
    background c_activeD
    color c_white
    border-color transparent
.btn--lg
  min-width 13em
  font-size 1rem
.btn--md
  min-width 11.6em
  padding .966em .6em
  font-size .866rem
  letter-spacing 1px

// typography
h1,
.title
  margin 0
  padding 0
  font-family font_2
  font-size 4rem
  font-weight fw-light
  letter-spacing 0
  color #18213d


.title-before
  margin 0
  padding 0
  font-family font_2
  font-size .8rem
  font-weight fw-heavy
  letter-spacing .166em
  color c_active

h2
  font-size 1.5rem

a
  font-size 1rem
  text-decoration none
a,
a:focus,
a:hover
  outline none
  trans()

a:focus,
a:hover
  color c_active
p
  display block
  -webkit-margin-before 2em
  -webkit-margin-after 2em
  -webkit-margin-start 0
  -webkit-margin-end 0
  font-size 1rem
  font-family font-family
  font-weight fw-light
  line-height fh
  letter-spacing 0
  color #47506d

/*@media screen and (max-width: w_md)
  h1
  font-size*/
@media screen and (max-width: w_xs)
  .btn--lg
    font-size 0.7rem