.advantages#features
    h1.advantages_title Our advantages
    .advantages_item
        img.advantages_item__img(src='images/icon-001.svg')
        .advantages_item__text Get to understand the real advantages of creating a mobile app for your business and you’ll find the answer.
    .advantages_item
        img.advantages_item__img(src='images/icon-002.svg')
        .advantages_item__text Suppose you have an apparel and accessories boutique at a central location. And you know that many prospective customers walk by your store every day.
    .advantages_item
        img.advantages_item__img(src='images/icon-003.svg')
        .advantages_item__text Develop a mobile app that makes it easy to connect with you, or offers customers the tools to make it easier for them to use your product or service, and you’ll make them happy.
    .advantages_item
        img.advantages_item__img(src='images/icon-004.svg')
        .advantages_item__text Before you appoint a professional to create your app, decide what you want it to do.
    .advantages_item
        img.advantages_item__img(src='images/icon-005.svg')
        .advantages_item__text With a mobile app, you can achieve results you simply cannot with just a mobile-friendly website. For starters, the app, once downloaded, stays on in
    a.advantages__btn.btn.btn-dark(href='#') read more about us
