.app#about
    h1.app_title About the APP
    .app_item-wrap
        .app_item
            .app__img-wrap
                img.app_item__img(src='images/icon-012.svg')
            p.app_item__text A feature suite that gives you data and insights to build customer relationships that are more meaningful, personal, and productive.
        .app_item
            .app__img-wrap
                img.app_item__img(src='images/icon-011.svg')
            p.app_item__text An easy way for users to help themselves, quickly find what they need, and minimize their frustration.
        .app_item
            .app__img-wrap
                img.app_item__img(src='images/icon-014.svg')
            p.app_item__text A feature suite that gives you data and insights to build customer relationships that are more meaningful, personal, and productive.
    .app__btn-wrap
        a.app__btn.btn.btn-dark--active(href='#') take a tour
        a.app__btn.btn.btn-dark(href='#') get free demo access
