.footer
    a.footer_logo(href='#')
        img.footer_logo__img(src='images/logo.png')
    .footer__btn-wrap
        .footer__btn.btn.btn-light--active choose a plan
        .footer__btn.btn.btn-light try for free
    .footer_menu
        a.footer_menu__item(href='#about') about
        a.footer_menu__item(href='#reviews') reviews
        a.footer_menu__item(href='#features') features
        a.footer_menu__item(href='#prices') prices
        a.footer_menu__item(href='#support') support