header.header
    .header-top
        a.header_logo(href='#')
            img.header_logo__img(src='images/logo.png')
        .header_nav
            a.header_nav__item(href='#about') about
            a.header_nav__item(href='#reviews') reviews
            a.header_nav__item(href='#features') features
            a.header_nav__item(href='#prices') prices
            a.header_nav__item(href='#support') support
        .mobile-nav-button
            .mobile-nav-button__line
            .mobile-nav-button__line
            .mobile-nav-button__line
        .mobile-menu
                ul
                    li: a(href='#about') about
                    li: a(href='#reviews') reviews
                    li: a(href='#features') features
                    li: a(href='#prices') prices
                    li: a(href='#support') support

    h1.header_title The great APP for your business!
    .banner
        .banner_content
            p.banner_content__text We helps companies provide a great overall customer experience, and build customer relationships that are more meaningful, personal, and productive
            .banner_content__btn-wrap
                a.banner_content__btn.btn.btn-light--active(href='#') choose a plan
                a.banner_content__btn.btn.btn-light(href='#') try for free
        .banner__img-wrap
            img.banner__img(src='images/banner.png')


