.plan#prices
    h1.plan_title Choose a plan
    .plan_item-wrap
        .plan_item.plan_item--dark
            .plan_item__prise-wrap.plan_item__prise-wrap--dark
                p.plan_item__prise 99$
            .plan_item__name Basic pricing
            p.plan_item__description Free admin access
            p.plan_item__description 5 user accounts
            p.plan_item__description 10 active projects
            p.plan_item__description 1 year free support
            a.plan_item__btn.plan_item__btn--darck(href='#') get
        .plan_item.plan_item--blue
            .plan_item__prise-wrap.plan_item__prise-wrap--blue
                p.plan_item__prise 399$
            .plan_item__name PRO pricing
            p.plan_item__description Free admin access
            p.plan_item__description 100 user accounts
            p.plan_item__description 50 active projects
            p.plan_item__description 3 year free support
            a.plan_item__btn.plan_item__btn--blue(href='#') get
        .plan_item.plan_item--orange
            .plan_item__prise-wrap.plan_item__prise-wrap--orange
                p.plan_item__prise 999$
            .plan_item__name Elite pricing
            p.plan_item__description Free admin access
            p.plan_item__description 5000 user accounts
            p.plan_item__description unlimiited active projects
            p.plan_item__description 3 year free support
            a.plan_item__btn.plan_item__btn--orange(href='#') get