.reviews#reviews
    h1.reviews_title 75,000+ Companies trust us
    .reviews_item
        .reviews_item__img-wrap
            img.reviews_item__img.reviews_item__img--elon(src='images/Photo-1.jpg')
        .reviews_item__name Elon Reeve Musk
        .reviews_item__occupation CEO Tesla Motors
        .reviews_item__text Just as a bird, wherever it goes, flies with its wings as its only burden, so too, the bhikkhu becomes content with robes to protect his body and with almsfood to maintain his stomach, and wherever he goes he sets out taking only these with him.
    .reviews_item
        .reviews_item__img-wrap
            img.reviews_item__img.reviews_item__img--satya(src='images/Photo-2.jpg')
        .reviews_item__name Satya Nadella
        .reviews_item__occupation CEO Microsoft
        .reviews_item__text Just as a bird, wherever it goes, flies with its wings as its only burden, so too, the bhikkhu becomes content with robes to protect his body and with almsfood to maintain his stomach, and wherever he goes he sets out taking only these with him.
    .reviews_item
        .reviews_item__img-wrap
            img.reviews_item__img.reviews_item__img--mark(src='images/Photo-3.jpg')
        .reviews_item__name Mark Zuherberg
        .reviews_item__occupation CEO Facebook
        .reviews_item__text Just as a bird, wherever it goes, flies with its wings as its only burden, so too, the bhikkhu becomes content with robes to protect his body and with almsfood to maintain his stomach, and wherever he goes he sets out taking only these with him.
    .reviews_btn-wrap
        a.reviews_btn.btn.btn-dark--active(href='#') see more reviews
        a.reviews_btn.btn.btn-dark(href='#') leave a revies
