.support#support
    h1.support_title Support
    .support_description Do you have any questions? Let ask!
    .support_form
        input.support_form__input(placeholder='name')
        input.support_form__input(placeholder='email')
        input.support_form__input.support_form__input--textarea(placeholder='message')
        a.support_form__btn-submit.btn.btn-dark send


